.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.orderWrapper {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: flex-start;
}

@media screen and (max-width: 980px) {
    .orderWrapper {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1150px) {
    .cart {
        margin: auto 30px;
    }
}